@font-face {
    font-family: "AdventureRequest";
    src: local("AssistantRegular"),
      url("./fonts/AdventureRequest-j8W9.ttf") format("truetype");
    font-weight: normal;
  }
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'AdventureRequest';
    height: 100vh;
    background-image: url('../public/bg-village.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}

.mainArea {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 35, 56, 0.45);
    width: 90%;
    min-height: 90%;
    padding: 15px;
    border-radius: 15px;
    
}

.leftArea {
    flex: 1;
    display: flex;
    height: 90%;
    align-items: center;
}

.rightArea {
    flex: 1;
    display: flex;
    height: 90%;
    

}

.merchant {
    background: white;
    border-radius: 15px;
    padding: 10px;
}

.merchantImg {
    max-width: 60%;
    height: auto;
}

@media (max-width: 720px)
{
  .mainArea {
        flex-direction: column;
   }

   .leftArea {
        flex: 1;
        width: 90%;
    }

    .rightArea {
        flex: 1;
        width: 90%;
    }
}